<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "Profilepic.jpg" %>
  </div>

  <div id="content">
    <h1>Savagely Saving</h1>
    <p>
      Hey guys, I'm savagely saving! Get my coupons to save a lot!
    </p>
  </div>
</div>
